

.minilogo.ng-hide
  width 0px!important
  display block!important
  overflow hidden
  opacity 0




.post
  transition background 0.3s ease-in-out, height 0.3s ease-in-out

.post-new
  transition all 0.3s ease-in-out

.post-toggle, .post-form
  transition opacity 0.3s ease-in-out