.wrapper
  position relative
  width 100%
  height 100%
  transition width 0.3s
  border 20px solid white
  overflow hidden
  &:after
    content ''
    display block
    clear both
  & .navwrapper
    transition height 0.3s
    position relative
    width 100%
    height 100%
    border 1px solid black
  .businesscard
    width 100%
    height 50%
    display table
    postion relative
    transition all 0.3s
    overflow hidden
    .logo-description
      display table-cell
      vertical-align middle
      text-align center
      .logo
        margin 0 auto
        display inline-block
        width auto
        font-family 'Josefine Slab', serif
        font-size 32px
        transition font-size 0.3s
        for i in (0..6)
          qWidth = (600 + (200 * i))px
          fSize = (40 + (12 * i))px
          @media (min-width qWidth)
            font-size fSize
            line-height fSize
        > hr
          margin 0 auto 40px auto
          width 90%
          background #000
          height 0px
      .description
        margin 0 auto
        text-align center
  .navigation
    position relative
    height 60px
    width 100%
    margin 0 auto
    transition all 0.3s ease-in-out
    &:after
      content ''
      display block
      clear both
    .minilogo
      width 120px
      height 100%
      float left
      transition all 0.3s ease-in-out
    nav
      position relative
      height 100%
      width 100%
      float left
      transition all 0.3s ease-in-out
      &.options
        position relative
        width 100%
        display table
        height 100%
        table-layout fixed
        & > ul
          margin 0
          padding 0
          display table-row
          & > li
            border-collapse collapse
            list-style none
            cursor pointer
            height 100%
            display table-cell
            & > div
              width 100%
              text-align center
              height 100%


.maincontent
  padding 10px

.card
  .navigation
    width 50% !important
    background-color #FEF36D
  nav
    & > ul > li
      & > div
        border 0px !important
        border-radius 0px !important
        & > a
          display block
          text-decoration none
          color #888
          line-height 60px

.ui
  nav
    width calc(100% - 120px) !important
    & > ul > li
      & > div > a
        display block
        text-decoration none
        color #333
        line-height 60px
      &.active > div
        border-top 2px solid #3293CD !important
        & > a
          color #444
  .businesscard
    opacity 0
    height 0px
    display block
